# -------------------------------------------------------------
# Elastic Deployment configuration
# -------------------------------------------------------------
variable "elastic_version" {
  type = string
  default = "8.6.2"
}

variable "elastic_region" {
  type = string
  default = "gcp-us-central1"
}

variable "elastic_deployment_template_id" {
  type = string
  default = "gcp-general-purpose-v3"
}

#set this for HA. If omitted default value for the deployment template is used (usually 2)
variable "elastic_replicas" {
  type = number
  default = "1"
}

#number of Elastic deployments. Each one would be named based on "Elastic_deployment_name" variable
variable "elastic_deployments_count" {
  type = number
  default = "1"
}

#size of Kibana in memory size. For patent demo on a index of 40GB consider at least 2GB
variable "kibana_size" {
  type = string
  default = "2g"
}

#Variable that define which user settings to load - depending on lab wanted
variable "lab_user_settings" {
  type= file
  default = "./config/user_settings.json" //default one, not lab specific. Set here your own if labs needs specific configs
}

# -------------------------------------------------------------
# DEMO SPECIFIC VARIABLES
# -------------------------------------------------------------
#Deploy new cluster restoring from an other deployment's snapshot. Must be in the same region.

#User latest_success to refer to the latest snapshot created
variable "snapshot_name" {
  type = string
  default = "__latest_success__"
}

variable "snapshot_source_cluster_id" {
  type = string
  default = "077d11d5592a4b2ebf9df98b2321d843" //-->change this with your cluster id
}

# -------------------------------------------------------------
# Elastic Index configuration -- USE ONLY if creating Indexes by TF script - not needed for hands on lab --
# -------------------------------------------------------------

variable "elastic_index_name" {
  type = string
  default = "patent-publications-000001"
}


variable "elastic_index_template_name" {
  type = string
  default = "patent-publications-template"
}

# -------------------------------------------------------------
# BigQuery configuration -- USE ONLY if creating Dataflow jobs by TF script - not needed for hands on lab --
# -------------------------------------------------------------
variable "google_cloud_project" {
  type = string
}

variable "google_cloud_dataflow_job_name" {
  type = string
}

variable "google_cloud_region" {
  type = string
  default = "europe-west3"
}

variable "google_cloud_container_spec_gcs_path"  {
  type = string
  default = "gs://dataflow-templates/latest/flex/BigQuery_to_Elasticsearch"
}

variable "google_cloud_inputTableSpec"  {
  type = string
  default = "patents-public-data:patents.publications"
}

variable "google_cloud_maxNumWorkers"  {
  type = number
  default = 5
}

variable "google_cloud_maxRetryAttempts" {
  type = string
  default = 1
}

variable "google_cloud_maxRetryDuration" {
  type = string
  default = 30
}